:root {
    --orange: #ec7b58;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

header{
    display: flex;
    width: 100%;
    background-color: var(--orange);
    justify-content: space-between;
    align-items: center;
}

/* dark-mode  */

.dark-toggle {
    background-color: rgb(151, 25, 25);
    color: white;
    margin-right: 20px;
    border-radius: 100%;
    padding: 20px;
    cursor: pointer;
}

body.dark{
    color: white;
    background: black;
}



.logo{
    margin-left: 20px;
    font-weight: 900;
    font-size:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white)
}

ul li{
    color: #000000;
    display: inline;
    margin-left: 30px;
    
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}




/* main */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em;
}

.information{
    background-color: rgb(0, 0, 0);
    margin: 50px 0px 0px 50px;
    padding: 30px;
    color: white;
}

#pet-select{
    display: block;
    margin: 30px 0px 30px 0px;
    
}
.race{
    display:block
}

table,
td {
    border: 1px solid #333;
    padding: 10px;
}



thead,
tfoot {
    background-color: #333;
    color: #fff;
}



/* bloc image du chien */
.img{
    margin: auto;
    border: 10px solid rgb(0, 0, 0);
}
.image-dog{
    width: 300px;
    height: 200px;
    background-color: #b48282;
    margin: auto;
    padding: 50px;
    color: var(--white);
}

/* main annecdote */

#annecdot{
    display: flex;
    flex-direction: column;
}

.btn-annecdote{
    display: flex;
    height: 50px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 100px;
    background-color: #FF7F57;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    

}
.annecdote-title{
    text-align: center;
    margin:0.5em;
    text-decoration: underline;
}

.annecdote{
    width: 300px;
    height: 300px;
    background-color: #494343;
    margin: auto;
    color: var(--white);
    margin-top: 100px;
    border: 2px solid red;
}

.text-annecdote{

    padding: 2em;
}


.toogle{

    background-color: var(--orange);
}


.Ac{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divm{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 200px;
    height: 150px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    text-align: center;
}







/* page acceuil */

.acceuil{
    /* display: flex;
    padding: 50px;
    margin: auto;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; */

    display: flex;
    flex-wrap: wrap;
    /* margin: 2em; */

    

}

.bloc-annecdote,.bloc-favoris,.bloc-race{
    width: 400px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding-bottom: 2em;
    border-radius: 10px;
    margin: 1em;
   

}
.title-bloc-anecdote,.title-bloc-favoris,.title-bloc-race{
    color: #FF7F57;
}
.result-bloc-anecdote,.result-bloc-favoris,.result-bloc-race{
    font-size: 20px;
    font-weight: 900;
}

.nav{
    display: none;
}


.select{

    display: flex;
    flex-direction: column;
}
option{

    width: 50%;
}


.orangep{

    color: var(--orange);
}


#span{

    color: white;
}



@media screen and (max-width:500px) {


    .burger{
        width: 100px;
        height: 100px;
        background-color: var(--orange);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    
.ligne{

    width: 45px;
    background-color: white;
    height: 5px;
    margin: 0.5em;
}


    .ul{
        display: none;
    }

    .dark-toggle{
        display: none;
    }

    .nav{
        display: none;
        justify-content: center;
        align-items: center;
    }

    .ul-burger {
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        margin: 0.5em;
    }
}




